<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home || BlogJob</title>
    <link rel="stylesheet" href="/style/style-postpage.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
   </head>
<body>
    <nav>
        <div class="image">
            <a href="/landing"><img src="/images/BlogJob-logo.png" alt=""></a>
        </div>
        <ul>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    

    <div id="explore-layer">
        <section class="blog-cont">
            <div class="blog">
                <div class="sub-conts">
                <div class="sub-cont-1">
                        <h3><%=post.posttitle %></h3>              
                </div>
                <div class="sub-cont-4">
                    <div class="post-interaction">
                        <div class="pi-sub">
                            <div class="like">
                                  <a href="/Like/<%= post._id %>"
                                    ><span class="material-symbols-outlined">
                                      favorite
                                      </span></a
                                  ><%= post.postlikes.length %></div>
                                  <a href=""><span class="material-symbols-outlined">
                                      comment
                                      </span></a>
                        </div>
                        <div class="pi-sub">
                                <a href=""><span class="material-symbols-outlined">
                                    bookmark
                                    </span></a>
                                <a href="/share"><span class="material-symbols-outlined">
                                    share
                                    </span></a>
                        </div>
                      </div>
                </div>
                <div class="sub-cont-2">
                    <p><%=post.postintro %></p>
                </div>
                <div class="blog-img">
                    <img src="/images/uploads/<%= post.postpic %>" alt="">
                </div>
                <div class="sub-cont-3">
                    <h4><%=post.postdata %></h4>
                </div>
                <div class="sub-cont-4">
                    <div class="post-interaction">
                        <div class="pi-sub">
                            <div class="like">
                                  <a href="/Like/<%= post._id %>"
                                    ><span class="material-symbols-outlined">
                                      favorite
                                      </span></a
                                  ><%= post.postlikes.length %></div>
                                  <a href=""><span class="material-symbols-outlined">
                                      comment
                                      </span></a>
                        </div>
                        <div class="pi-sub">
                                <a href=""><span class="material-symbols-outlined">
                                    bookmark
                                    </span></a>
                                <a href="/share"><span class="material-symbols-outlined">
                                    share
                                    </span></a>
                        </div>
                      </div>
                </div>
                </div>
            </div>
    </section>
    <section class="blogger-cont">
        <div class="blogger">
            <div class="b-user">
                <div class="b-img">
                    <img src="/images/uploads/<%=post.user.profilepic %>" alt="">
                </div>
                <h3><%=post.user.name %></h3>
            </div>
            <div class="b-about">
                <h4>About</h4>
                <h5><%=post.user.bio %></h5>
            </div>
        </div>
        <div class="blogger-social">
            <ul>
                <li><a href="">facebook</a></li>
                <li><a href="">instagram</a></li>
                <li><a href="">twitter</a></li>
                <li><a href="">custom</a></li>
            </ul>
        </div>
    </section>
    </div>
</body>
</html>